.cartas {
    min-width: 18rem;
    max-height: 600px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
  
  .cartas .card-img-top {
    height: 150px; 
    object-fit: cover; 
  }
  
  .cartas .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
  }
  
  .cartas .btn {
    margin-top: 10px; 
  }
} 