

/* Registro.css */
.register-container {
  display: flex;
  flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.register-image {
  flex: 1;
  background-color: #f0f0f0; /* Color de fondo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-image img {
  max-width: 100%;
  height: auto;
}

.register-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.register-form h2 {
  margin-bottom: 10px;
}

.register-form p {
  margin-bottom: 20px;
}

.register-form input {
  width: 100%;
  max-width: 400px; /* Máximo ancho para entradas */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-form a {
  color: blue; /* Cambia el color según tu diseño */
  text-decoration: underline;
}

.register-form a:hover {
  text-decoration: none; /* Efecto hover */
}

/* Media Queries para Responsividad */
@media (min-width: 768px) {
  .register-container {
      flex-direction: row; /* Mantener fila en pantallas más grandes */
  }

  .register-form {
      padding: 40px; /* Más espacio en pantallas grandes */
  }
}

/* Login.css */
.login-container {
  display: flex;
  flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.login-image {
  flex: 1;
  background-color: #f0f0f0; /* Color de fondo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  max-width: 100%;
  height: auto;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form h2 {
  margin-bottom: 10px;
}

.login-form input {
  width: 100%;
  max-width: 400px; /* Máximo ancho para entradas */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-link {
  margin-top: 20px;
}

.register-link a {
  color: blue; /* Cambia el color según tu diseño */
  text-decoration: underline;
}

.register-link a:hover {
  text-decoration: none; /* Efecto hover */
}

/* Media Queries para Responsividad */
@media (min-width: 768px) {
  .login-container {
      flex-direction: row; /* Mantener fila en pantallas más grandes */
  }
 /* Estilos Navbar*/
 }

 
/* Estilo general para el formulario */
form {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si no hay espacio */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  max-width: 800px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario en la página */
}

/* Estilo para cada div que contiene un label y un input/select */
form div {
  flex: 1; /* Permite que cada div tome el mismo espacio */
  margin: 10px; /* Espacio alrededor de cada div */
  min-width: 150px; /* Ancho mínimo para cada div */
}

/* Estilo para los inputs y select */
form div input,
form div select {
  width: 100%; /* Hace que los inputs y selects ocupen el 100% del contenedor */
  padding: 8px; /* Espaciado interno de los inputs */
  box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
}

/* Estilo para el botón de búsqueda */
button {
  flex: 0 0 100%; /* Hace que el botón ocupe toda la fila */
  margin: 10px 0; /* Espacio arriba y abajo del botón */
  padding: 10px; /* Espaciado interno del botón */
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Efecto hover para el botón */
button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}
