

/* Registro.css */
.register-container {
  display: flex;
  flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.register-image {
  flex: 1;
  background-color: #f0f0f0; /* Color de fondo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-image img {
  max-width: 100%;
  height: auto;
}

.register-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.register-form h2 {
  margin-bottom: 10px;
}

.register-form p {
  margin-bottom: 20px;
}

.register-form input {
  width: 100%;
  max-width: 400px; /* Máximo ancho para entradas */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-form a {
  color: blue; /* Cambia el color según tu diseño */
  text-decoration: underline;
}

.register-form a:hover {
  text-decoration: none; /* Efecto hover */
}

/* Media Queries para Responsividad */
@media (min-width: 768px) {
  .register-container {
      flex-direction: row; /* Mantener fila en pantallas más grandes */
  }

  .register-form {
      padding: 40px; /* Más espacio en pantallas grandes */
  }
}

/* Login.css */
.login-container {
  display: flex;
  flex-direction: column; /* Cambia a columna en pantallas pequeñas */
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.login-image {
  flex: 1;
  background-color: #f0f0f0; /* Color de fondo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  max-width: 100%;
  height: auto;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form h2 {
  margin-bottom: 10px;
}

.login-form input {
  width: 100%;
  max-width: 400px; /* Máximo ancho para entradas */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-link {
  margin-top: 20px;
}

.register-link a {
  color: blue; /* Cambia el color según tu diseño */
  text-decoration: underline;
}

.register-link a:hover {
  text-decoration: none; /* Efecto hover */
}

/* Media Queries para Responsividad */
@media (min-width: 768px) {
  .login-container {
      flex-direction: row; /* Mantener fila en pantallas más grandes */
  }

  .login-form {
      padding: 40px; /* Más espacio en pantallas grandes */
  }
}
